@using(Html.BeginForm("Index", "Search", FormMethod.Get))
{
	<div class="form-group search-form-group">
		<input name="searchterm"
			   class="form-control form-control-inline search-box"
			   aria-label="@Html.StringResource("search.prompt")"
			   placeholder="@Html.StringResource("search.prompt")"
			   type="text">
		<input value="@Html.StringResource("search.go")" class="btn btn-default search-go" type="submit">
	</div>
}