<?xml version="1.0" standalone="yes" ?>
<!-- ##################################################################################	-->
<!-- Copyright AspDotNetStorefront.com. All Rights Reserved.							-->
<!-- http://www.aspdotnetstorefront.com													-->
<!-- For details on this license please visit the product homepage at the URL above.	-->
<!-- THE ABOVE NOTICE MUST REMAIN INTACT.												-->
<!-- ##################################################################################	-->
<package version="2.1" displayname="Site Map" debug="false" includeentityhelper="true" allowengine="true">
	
	<query name="Topics" rowElementName="Topic">
		<sql>
			<![CDATA[
				declare @StoreSpecificTopics Table
				(
					TopicID int, 
					Name varchar(max), 
					Title varchar(max),
					StoreID int, 
					DisplayOrder int
				)

				INSERT INTO @StoreSpecificTopics 
					select TopicID, Name, Title, StoreID, DisplayOrder from topic as dt
						where ShowInSiteMap = 1
						and deleted = 0
						and published = 1
						and (storeid = 2)
						and @FilterTopic = 1

				select TopicID, Name, Title, StoreID, DisplayOrder from topic as dt
					where ShowInSiteMap = 1
					and deleted = 0
					and published = 1
					and (storeid = 0)
					and name not in(select Name from @StoreSpecificTopics)
				union select * from @StoreSpecificTopics
				order by DisplayOrder, Title
			]]>
		</sql>
		<queryparam paramname="@StoreID" paramtype="runtime" requestparamname="StoreID" sqlDataType="int" defvalue="1" validationpattern="" />
		<queryparam paramname="@FilterTopic"  paramtype="runtime" requestparamname="FilterTopic" sqlDataType="bit" defvalue="0" validationpattern="" />
	</query>

	<query name="Products" rowElementName="Product">
		<sql>
			<![CDATA[
			if UPPER(@ShowProducts) = 'TRUE' 
			begin
				exec aspdnsf_GetProducts 
						@localeName = @locale,
						@CustomerLevelID = @CustLevelID,
						@affiliateID = @AffID,
						@ProductTypeID = @ProdTypeID, 
						@ViewType = 1,
						@pagenum = 1,
						@pagesize = 2147483647,
						@StatsFirst = 0,
						@publishedonly = 1,
						@ExcludeKits = 0,
						@ExcludeSysProds = 1,
						@InventoryFilter = @InvFilter,
						@storeID = @StoreID,
						@filterProduct = @FilterProduct
			end
			]]>
		</sql>
		<queryparam paramname="@locale"				paramtype="runtime"		requestparamname="LocaleSetting"								sqlDataType="varchar"	defvalue="en-US"  validationpattern="" />
		<queryparam paramname="@CustLevelID"		paramtype="runtime"		requestparamname="CustomerLevelID"								sqlDataType="int"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@AffID"				paramtype="runtime"		requestparamname="AffiliateID"									sqlDataType="int"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@ProdTypeID"			paramtype="runtime"		requestparamname="ProductTypeFilterID"							sqlDataType="int"		defvalue="null"   validationpattern="" />
		<queryparam paramname="@InvFilter"			paramtype="appconfig"	requestparamname="HideProductsWithLessThanThisInventoryLevel"	sqlDataType="int"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@StoreID"			paramtype="runtime"		requestparamname="StoreID"										sqlDataType="int"		defvalue="1"      validationpattern="" />
		<queryparam paramname="@FilterProduct"		paramtype="runtime"		requestparamname="FilterProduct"								sqlDataType="bit"		defvalue="0"      validationpattern="" />
		<queryparam paramname="@ShowProducts"	paramtype="appconfig"	requestparamname="SiteMap.ShowProducts"	sqlDataType="varchar"	defvalue="false" validationpattern="" />
	</query>
	
	<PackageTransform>
		<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:aspdnsf="urn:aspdnsf" exclude-result-prefixes="aspdnsf">
			<xsl:output method="html" omit-xml-declaration="yes" />

			<xsl:variable name="Categories" select="/root/EntityHelpers/Category/Entity" />
			<xsl:variable name="Sections" select="/root/EntityHelpers/Section/Entity" />
			<xsl:variable name="Manufacturers" select="/root/EntityHelpers/Manufacturer/Entity" />
			<xsl:variable name="Topics" select="/root/Topics/Topic" />
			<xsl:variable name="Products" select="/root/Products/Product" />
			
			<xsl:variable name="ShowCategories" select="(aspdnsf:AppConfigBool('SiteMap.ShowCategories') = 'true') and (count($Categories) &gt; 0)" />
			<xsl:variable name="ShowSections" select="(aspdnsf:AppConfigBool('SiteMap.ShowSections') = 'true') and (count($Sections) &gt; 0)" />
			<xsl:variable name="ShowManufacturers" select="(aspdnsf:AppConfigBool('SiteMap.ShowManufacturers') = 'true') and (count($Manufacturers) &gt; 0)" />
			<xsl:variable name="ShowTopics" select="(aspdnsf:AppConfigBool('SiteMap.ShowTopics') = 'true') and (count($Topics) &gt; 0)" />
			<xsl:variable name="ShowCustomerService" select="aspdnsf:AppConfigBool('SiteMap.ShowCustomerService') = 'true'" />
			<xsl:variable name="ShowProducts" select="(aspdnsf:AppConfigBool('SiteMap.ShowProducts') = 'true') and (count($Products) &gt; 0)" />
			
			<xsl:template match="/">
				<h1>
					<xsl:value-of select="aspdnsf:StringResource('sitemap.aspx.1')" disable-output-escaping="yes" />
				</h1>
				<div class="row">
					<xsl:if test="$ShowCategories or $ShowSections or $ShowManufacturers">
						<div class="col-sm-4">
							<xsl:if test="$ShowCategories">
								<div class="site-map-group">
									<h4>
										<xsl:value-of select="aspdnsf:StringResource('appconfig.categorypromptplural')" disable-output-escaping="yes" />
									</h4>
									<ul>
										<xsl:apply-templates select="$Categories">
											<xsl:with-param name="EntityType" select="'Category'" />
										</xsl:apply-templates>
									</ul>
								</div>
							</xsl:if>
							<xsl:if test="$ShowSections">
								<div class="site-map-group">
									<h4>
										<xsl:value-of select="aspdnsf:StringResource('appconfig.sectionpromptplural')" disable-output-escaping="yes" />
									</h4>
									<ul>
										<xsl:apply-templates select="$Sections">
											<xsl:with-param name="EntityType" select="'Section'" />
										</xsl:apply-templates>
									</ul>
								</div>
							</xsl:if>
							<xsl:if test="$ShowManufacturers">
								<div class="site-map-group">
									<h4>
										<xsl:value-of select="aspdnsf:StringResource('appconfig.manufacturerpromptplural')" disable-output-escaping="yes" />
									</h4>
									<ul>
										<xsl:apply-templates select="$Manufacturers">
											<xsl:with-param name="EntityType" select="'Manufacturer'" />
										</xsl:apply-templates>
									</ul>
								</div>
							</xsl:if>
						</div>
					</xsl:if>

					<xsl:if test="$ShowProducts">
						<div class="col-sm-4">
							<div class="site-map-group">
								<h4>
									<xsl:value-of select="aspdnsf:StringResource('Global.Products')" disable-output-escaping="yes" />
								</h4>
								<ul>
									<xsl:apply-templates select="$Products" />
								</ul>
							</div>
						</div>
					</xsl:if>

					<xsl:if test="$ShowTopics or $ShowCustomerService">
						<div class="col-sm-4">
							<xsl:if test="$ShowCustomerService">
								<div class="site-map-group">
									<h4>
										<xsl:value-of select="aspdnsf:StringResource('toc.aspx.5')" disable-output-escaping="yes" />
									</h4>
									<ul>
										<li>
											<a href="{aspdnsf:BuildRoute('index', 'account')}">
												<xsl:value-of select="aspdnsf:StringResource('menu.YourAccount')" disable-output-escaping="yes" />
											</a>
										</li>
										<li>
											<a href="{aspdnsf:BuildRoute('index', 'account')}#OrderHistory">
												<xsl:value-of select="aspdnsf:StringResource('menu.OrderHistory')" disable-output-escaping="yes" />
											</a>
										</li>
										<li>
											<a href="{aspdnsf:BuildRoute('index', 'contactus')}">
												<xsl:value-of select="aspdnsf:StringResource('menu.Contact')" disable-output-escaping="yes" />
											</a>
										</li>
									</ul>
								</div>
							</xsl:if>
							<xsl:if test="$ShowTopics">
								<div class="site-map-group">
									<h4>
										<xsl:value-of select="aspdnsf:StringResource('sitemap.aspx.2')" disable-output-escaping="yes" />
									</h4>
									<ul>
										<xsl:apply-templates select="$Topics" />
									</ul>
								</div>
							</xsl:if>
						</div>
					</xsl:if>
				</div>
			</xsl:template>

			<xsl:template match="Entity">
				<xsl:param name="EntityType" />
				<li>
					<a href="{aspdnsf:EntityLink(EntityID, SEName, $EntityType, 0)}" class="sitemap-link">
						<xsl:value-of select="aspdnsf:GetMLValue(Name)" disable-output-escaping="yes"/>
					</a>
					<xsl:if test="count(Entity) &gt; 0">
						<ul>
							<xsl:apply-templates select="Entity">
								<xsl:with-param name="EntityType" select="$EntityType" />
							</xsl:apply-templates>
						</ul>
					</xsl:if>
				</li>
			</xsl:template>

			<xsl:template match="Topic">
				<xsl:variable name="Name" select="aspdnsf:GetMLValue(Name)" />
				<xsl:variable name="Title" select="aspdnsf:GetMLValue(Title)" />
				<li>
					<a href="{aspdnsf:TopicLink($Name, 0)}" class="sitemap-link">
						<xsl:value-of select="$Title" disable-output-escaping="yes"/>
					</a>
				</li>
			</xsl:template>

			<xsl:template match="Product">
				<xsl:variable name="Name" select="aspdnsf:GetMLValue(Name)" />
				<li>
					<a href="{aspdnsf:ProductLink(ProductID, SEName, 0)}" class="sitemap-link">
						<xsl:value-of select="$Name" disable-output-escaping="yes"/>
					</a>
				</li>
			</xsl:template>

		</xsl:stylesheet>
	</PackageTransform>
</package>
