<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- <add name="DBConn" connectionString="Data Source=(local);Initial Catalog=GerMedUSA10005;User Id=germedsqluser;Password=Ger$1212USA516HaBo_;Persist Security Info=True;Packet Size=4096" providerName="System.Data.SqlClient" /> -->
	<add name="DBConn" connectionString="Data Source=(local);Initial Catalog=GerMedUSA10005;Integrated Security=True;Packet Size=4096" providerName="System.Data.SqlClient" />
</connectionStrings>