@model PopUpImageViewModel
@{
	Layout = ViewEngines.Engines.FindViewPath(ViewContext.Controller.ControllerContext, "_PopupLayout");
}

<div class="page-wrap image-pop-up">
	<a href="#" class="js-close-window">
		<img src="@Model.ImageUrl" alt="@Html.StringResource("popup.aspx.1")" />
	</a>
</div>

@Html.RegisterInlineScript(
	@<script type="text/javascript">
		adnsf$('.js-close-window').click(function () {
			window.close();
		});
	</script>,
	dependencies: new[]
	{
		ScriptPaths.JQuery.AdnsfAlias,
	})
