<div class="wthreelocationsaits" id="locations">
    <div class="container">
        <div class="location-w3-head">
            <h3 class="full-width-bar">Top Categories</h3>
        </div>
        <section class="grid3d vertical" id="grid3d">
            <div class="grid-wrap">
                <div class="grid">
                    <a href="/c-39-operating-room-surgical-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l1.jpg" alt="Operating Room Instruments"><figcaption><h4>Operating Room Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-2-rainbow-surgical-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l2.jpg" alt="Rainbow Instruments"><figcaption><h4>Rainbow Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-1173-chromosome-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l5.jpg" alt="NeoGrip Instruments"><figcaption><h4>NeoGrip Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-4-dental-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l3.jpg" alt="Dental Instruments"><figcaption><h4>Dental Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-1032-podiatry-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l4.jpg" alt="Podiatry Instruments"><figcaption><h4>Podiatry Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-7-additional-surgical-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l8.jpg" alt="Additional Instruments"><figcaption><h4>Additional Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-12-left-hand-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l81.jpg" alt="Left Hand Instruments"><figcaption><h4>Left Hand Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-1172-arthroscopy-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l7.jpg" alt="Arthoscopy Instruments"><figcaption><h4>Arthoscopy Instruments</h4></figcaption></figure>
                    </a>
                    <a href="/c-3-veterinary-surgical-instruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l6.jpg" alt="Veterinary Instruments"><figcaption><h4>Veterinary Instruments</h4></figcaption></figure>
                    </a>
                    @*<a href="/t-misinstruments.aspx" target="_blank">
                        <figure class="col-md-4 effect-zoe"><img src="~/Skins/TekSpace/snow/images/l91.jpg" alt="MIS Instruments"><figcaption><h4>MIS Instruments</h4></figcaption></figure>
                    </a>*@
                </div>
            </div>
            @*<div class="content">
                <div>
                    <div class="dummy-img dummy-img-1">
                        <img src="~/Skins/TekSpace/snow/images/l2.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">SWITZERLAND</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-2">
                        <img src="~/Skins/TekSpace/snow/images/l1.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">ITALY</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-3">
                        <img src="~/Skins/TekSpace/snow/images/l3.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">GERMANY</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-4">
                        <img src="~/Skins/TekSpace/snow/images/l4.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">FRANCE</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-5">
                        <img src="~/Skins/TekSpace/snow/images/l5.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">MONACO</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-6">
                        <img src="~/Skins/TekSpace/snow/images/l6.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">SPAIN</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-7">
                        <img src="~/Skins/TekSpace/snow/images/l7.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">NORWAY</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-8">
                        <img src="~/Skins/TekSpace/snow/images/l8.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">NETHERLANDS</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div>
                    <div class="dummy-img dummy-img-9">
                        <img src="~/Skins/TekSpace/snow/images/l91.jpg" alt="Odyssey">
                    </div>
                    <p class="dummy-text aitsheadingw3">SWEDEN</p>
                    <p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <span class="loading"></span>
                <span class="icon close-content"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>*@
        </section>
    </div>
</div>