<div class="w3portfolioaits" id="gallery">
    <div class="w3-gallery-head">
        <h3 class="full-width-bar">Downloads</h3>
    </div>
    <div class="w3portfolioaits-items">
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-1">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/gynecology_catalog.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g1.jpg" alt="Gynecology Instruments">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-2">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/stainless_steel_trays_catalog.pdf" data-lightbox="example-set" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g2.jpg" alt="Stainless Steel">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-3">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/laparoscopy_catalog.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g3.jpg" alt="Laparoscopy Instruments">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-4">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/urology_catalog.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g4.jpg" alt="Urology Instruments">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-5">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/PodiatricInstrumentsGS.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g5.jpg" alt="Podiatric Instruments">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-6">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/Gelpi%20Flyer%20Sheet.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g61.jpg" alt="Gelphi Flyer">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-7">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/Mallet%20Flyer%20Sheet.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g7.jpg" alt="Maller Surgical">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-8">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/rflyerfin.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g8.jpg" alt="Hip, Spine & Knee">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/SmallAnimalJCFINAL.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g9.jpg" alt="Vet Surgical Instruments Guide">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/supersharp.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g10.jpg" alt="SuperSharp Tungsten Carbide">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/knee.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g11.jpg" alt="Knee Instruments">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
            <a class="example-image-link" href="http://www.germedusa.com/download_pdf/Cerclage.pdf" data-lightbox="example-set" data-title="" target="_blank">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/Skins/TekSpace/snow/images/g12.jpg" alt="Cerclage">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

</div>