<div class="w3-agile-news" id="news">
    <div class="w3-agile-news-grids">
        <div class="col-md-6 w3-news-grid1-left">
            <h3>latest</h3>
            <h3>News</h3>
        </div>
        <div class="col-md-6 w3-news-grid1-right">
            <p>
                GerMedUSA has a variety of instrumentation selections for all surgical specialties, Cardiovascular, Gynecological, Micro-Surgical, Neurosurgical, No Scalpel Vasectomy, Plastic Surgery, E.N.T or Dermal Surgical Instruments. GerMedUSA offers a broad range Medical Equipment ,Veterinary Surgical Instruments, for Small and Large Animals such as Emasculators Castrators, Equine Surgical Instruments, Hoof care Instruments, No Scalpel Vasectomy Instruments. GerMedUSA as a wide variety of Left Handed Instruments Surgical and Veterinary. GerMedUSA also carries instruments of Rainbow Color Titanium Coated , and Surgical Instruments, Tungsten Carbide Insert Jaws with Gold Rings Needle Holders and Scissors, Supercuts, Razor, Sharp Scissors with Black Handle, Dental Surgical Instruments, IUD Mini Lap Kits, Student Dissecting Kits, Single Use Sterile Economy Surgical Instruments, Fiber Optic Laryngoscopes, Diagnostic Sets, Otto scope, Ophthalmoscope Sets, Laparoscopy, Arthroscopy, Thoracoscopy and MIS Instruments.
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="w3l-news-bottom">
        <div class="col-md-7 w3l-news-bottom-left">
            <div class="w3l-news-bottom-left-info">
                <h6><a href="#" data-toggle="modal" data-target="#myModal1">18-21 January 2015</a></h6>
                <h3>
                    <a href="#" data-toggle="modal" data-target="#myModal1">NAVC (North American Veterinary Conference)</a>
                </h3>
                <p>
                    Gaylord Palms Convention Center, Booth #2409, Orlando, FL.<br />
                    The NAVC North American Veterinary Community is a year-round veterinary resource offering CE at the NAVC Conference, the NAVC Institute and year-round.
                </p>
                <h5>
                    @*<a href="#" data-toggle="modal" data-target="#myModal1">Readmore</a>*@
                    <a href="http://navc.com/about-us/" target="_blank">Readmore</a>
                </h5>
            </div>
        </div>
        <div class="col-md-5 w3l-news-bottom-right">
            <img src="~/Skins/TekSpace/snow/images/news-3.jpg" alt="" />
            <h6><a href="#" data-toggle="modal" data-target="#myModal2">16-18 February 2015</a></h6>
            <h3>
                <a href="#" data-toggle="modal" data-target="#myModal2">WVC (Western Veterinary Conference)</a>
            </h3>
            <p>
                Booth# 528, Mandalay Bay Convention Center, Las Vegas, NV<br/>
                Since 1928, WVC has provided comprehensive, progressive and practical continuing education [CE] to veterinary professionals. Las Vegas, a premier destination for large conventions
            </p>
            <h5>
                @*<a href="#" data-toggle="modal" data-target="#myModal2">Readmore</a>*@
                <a href="https://www.wvc.org/about/" target="_blank">Readmore</a>
            </h5>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>