<div class="w3-agile-services" id="services">
    <div class="container">
        <div class="w3-services-head">
            @*<h3>Information</h3>*@
        </div>
        <div class="col-md-7 w3-services-grids">
            <div class="w3-services-grids-left">
                <div class="col-md-6 w3-services-grid-icon1 w3-border-bootom1">
                    <h3>
                        <span><i class="fa fa-bullseye" aria-hidden="true"></i></span>Our Mission
                    </h3>
                    <p>
                        Our mission is to make GerMed the preferred Surgical Instrument shopping destination for our guests....
                    </p>
                </div>
                <div class="col-md-6 w3-services-grid-icon-text w3-border-bootom2">
                    <h3>
                        <span><i class="fa fa-leaf" aria-hidden="true"></i></span>Warranty SS
                    </h3>
                    <p>
                        All GerMedUSA surgical instruments are guaranteed for life against manufacturing defects, provided ....
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="w3-agile-grid-left-bottom">
                <div class="col-md-6 w3-services-grid-icon1 w3-border-left">
                    <h3>
                        <span><i class="fa fa-wrench" aria-hidden="true"></i></span>Repairs
                    </h3>
                    <p>
                        In today's cost-conscious environment, the surgical community is looking for ways to prolong instrument...
                    </p>
                </div>
                <div class="col-md-6 w3-services-grid-icon-text w3-border-left">
                    <h3>
                        <span><i class="fa fa-star" aria-hidden="true"></i></span> Warranty TC
                    </h3>
                    <p>
                        GerMedUSA surgical instruments with tungsten carbide inserts are warranted for five full years of normal use.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-5 w3-services-grids-right">
        </div>
        <div class="clearfix"></div>
    </div>
</div>