<a name="categories"></a>
<section class="feature_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="section-title">FEATURED Categories</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/shoulder.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/knee.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/foot.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/hand.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/needle.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/tcsc.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/small.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single_feature">
                    <img src="~/Skins/RedandBlue/custom/img/cats/Surgery.png" alt="" />
                    <h2>Shoulder Instruments</h2>
                </div>
            </div>
        </div>
    </div>
</section>