<!--== Start contact section area ==-->

<section class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="">
                    <div class="col-md-6">
                        <input type="text" name="" id="name" placeholder="Name" />
                    </div>
                    <div class="col-md-6">
                        <input type="email" name="" id="email" placeholder="Email" />
                    </div>
                    <div class="col-md-12">
                        <textarea placeholder="Message"></textarea>
                        <input type="submit" value="send" />
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <div class="contact_details">
                    <h2>Contact Us</h2>
                    <span>
                        <img src="~/Skins/RedandBlue/custom/img/map.png" alt="" />
                        2417 Jerichco Turnpike, #333,<br />Garden City Park,<br />NY 11040 (USA).
                    </span>
                    <span>
                        <img src="~/Skins/RedandBlue/custom/img/call.png" alt="" />
                        800-330-1322 | +1(516) 997-2180
                    </span>
                    <span>
                        <img src="~/Skins/RedandBlue/custom/img/fax.png" alt="" />
                        800-260-7177 | +1(516) 358 2182
                    </span>
                    <span>
                        <img src="~/Skins/RedandBlue/custom/img/sms.png" alt="" />
                        sales@GerMedUSA.com
                    </span>

                    <ul>
                        <li><a href="#"><img src="~/Skins/RedandBlue/custom/img/fb.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Skins/RedandBlue/custom/img/tt.png" alt="" /></a></li>
                        <li><a href="#"><img src="~/Skins/RedandBlue/custom/img/gp.png" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>