<section class="mission_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="single_mission">
                        <h2>Our Mission</h2>
                        <p>
                            Our mission is to make GerMed the preferred Surgical Instrument shopping destination for our guests by delivering outstanding value, continuous innovation and an exceptional guest experience.To support our mission, <a href="~/t-mission.aspx"> More...</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_mission">
                        <h2>Warranty SS</h2>
                        <p>
                            All GerMedUSA surgical instruments are guaranteed for life against manufacturing defects, provided that the instrument is used for its intended surgical purpose. GerMedUSA will either repair or replace the instrument <a href="~/t-returns.aspx"> More...</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_mission">
                        <h2>Warranty TC</h2>
                        <p>
                            GerMedUSA surgical instruments with tungsten carbide inserts are warranted for five full years of normal use.During this warranty period, if any adjustments become necessary, GerMedUSA will repair, sharpen (for TC scissors) <a href="~/t-returns.aspx"> More...</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_mission">
                        <h2>Repairs</h2>
                        <p>
                            In today's cost-conscious environment, the surgical community is looking for ways to prolong instrument life and minimize the impact of new instrument purchases. GermedUSA's highly trained and experienced craftsmen <a href="~/t-Repairs.aspx"> More...</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mission_right">
                    <h2>A Family business that treats Clients like a Family</h2>
                    <p>GerMedUSA offers a wide selection of Medical Equipment including: Operating Room Surgical Instruments, Veterinary Surgical Instruments including Emasculators/Castrators, Hoofing, Dental, a wide range of Tungsten Carbide Insert Instruments, IUD/Mini lap Kits, Student Dissecting Kits, Floor Grade Economy Instruments, Sterile Surgical Blades, Scalpels, Holloware, Sterile Trays (E. R. Laceration, Suture Removal, Skin Staple Remover, IV Starter Kit and etc.,) and pre-assembled sets for the most of the O. R. procedures. We proudly announce the addition of our Complete Line of TTA(Tibial Tuberosity Advancement), TPLO(Tibial Plateau Leveling Osteotomy) and our NeoGrip Quick Release Needle Holder.  </p>
                </div>
            </div>
        </div>
    </div>
</section>